.booking-modal {
    font-size: 0.5em;
}

.booking-modal, .form-container, .book-info {
    font-weight: var(--font-weight);
}

.form-container {
    width: 50vh;
    height: 50vh;
    font-size: 1em;
    padding: 2em;
    display: grid;
    grid-template-areas: "name" "surname" "email" "phone" "submit";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: var(--align-items);
}

.form-container, .book-info, .modal-user-button {
    align-content: var(--align-content);
}

.form-container, .book-info {
    font-family: var(--font-family);
}

.book-info {
    font-size: 2em;
    text-align: var(--text-align);
    padding: 2em 2em 3em;
    margin-bottom: 2em;
    grid-area: info;
}

.book-info, .modal-user-button {
    justify-content: var(--justify-content);
}

.slot-info {
    margin: 0.5em;
    text-shadow: 0.02em 0.02em var(--color-black);
}

.message-slot {
    display: inline-grid;
    font-size: 2em;
    text-decoration: underline;
}

.book-input-field {
    height: 5em;
    width: 100%;
}

.modal-user-button {
    padding-top: 2em;
    width: 40vh;
    height: 40vh;
    border-radius: var(--border-radius);
    display: var(--display-grid);
}

.message-slot, .modal-user-button {
    justify-items: var(--justify-items);
    align-items: var(--align-items);
}