.booking-modal {
    font-size: 0.5em;
    font-weight: var(--font-weight);
}

.form-container {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    width: 50vh;
    height: 50vh;
    font-size: 1em;
    padding: 2em;
    display: grid;
    grid-template-areas: "name" "surname" "email" "phone" "submit";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
}

.book-info {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 2em 2em 3em;
    margin-bottom: 2em;
    grid-area: info;
}

.slot-info {
    margin: 0.5em;
    text-shadow: 0.02em 0.02em var(--color-black);
}

.message-slot {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    text-decoration: underline;
}

.book-input-field {
    height: 5em;
    width: 100%;
}

.button-submit-book {
    width: 100%;
    background: #e9ad81;
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--color-black);
    cursor: pointer;
    display: block;
    line-height: 1.6em;
    margin: 1em;
    outline: none;
    padding: .8em 0;
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    grid-area: submit-book;
    align-self: end;
}

.button-submit-book-as-guest {
    width: 100%;
    background: #e9ad81;
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--color-black);
    cursor: pointer;
    display: block;
    line-height: 1.6em;
    outline: none;
    padding: .8em 0;
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    grid-area: submit;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    margin: 2em;
}

.button-submit-book:hover, .button-submit-book-as-guest:hover {
    background: rgb(229, 198, 183);
}

.modal-user-button {
    padding-top: 2em;
    width: 40vh;
    height: 40vh;
    border-radius: var(--border-radius);
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}