.button-submit-book-as-guest {
    grid-area: submit;
    align-self: var(--align-self);
    justify-self: var(--justify-self);
    margin: 2em;
}

.button-submit-book-as-guest, .button-submit-book, .button-submit, .button-submit-delete {
    width: 100%;
    padding: .8em 0;
}

.button-submit-book-as-guest, .button-submit-book, .button-on-slot, .button-submit, .button-submit-delete, .button-delete {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-black);
    font-weight: var(--font-weight);
    border: none;
    line-height: 1.6em;
    outline: none;
}

.button-submit-book-as-guest, .button-submit-book, .button-on-slot, .button-submit {
    background: #e9ad81;
}

.button, .button-submit-book-as-guest, .button-submit-book, .button-on-slot, .button-submit, .button-submit-delete, .button-delete {
    display: block;
}

.button-submit-book:hover, .button-submit-book-as-guest:hover {
    background: rgb(229, 198, 183);
}

.button-submit-book {
    grid-area: submit-book;
    align-self: end;
}

.button-submit-book, .button-on-slot, .button-delete {
    margin: 1em;
}

.button, .button-submit-book-as-guest {
    justify-content: var(--justify-content);
    align-content: var(--align-content);
}

.button {
    font-size: 1.3em;
    box-sizing: content-box;
    margin: 20px auto 0;
    width: 20%;
    padding: 15px 20px;
    border-radius: 24px;
    border-color: transparent;
    background-color: white;
    box-shadow: 0 16px 60px rgba(78, 79, 114, 0.08);
    position: relative;
    justify-items: var(--justify-items);
    align-items: var(--align-items);
}

.buttonText {
    color: #4285f4;
    font-weight: bolder;
}

.button-on-slot, .button-delete {
    font-size: 1em;
    padding: 0.5em;
    margin-top: 3em;
}

.button-submit {
    font-size: 2em;
    margin-bottom: 3em;
}

.button-submit-delete {
    margin-top: 3em;
}

.button-submit-delete, .button-delete {
    background-color: #c83223;
}

.button-on-slot:hover, .button-submit:hover {
    background: rgb(229, 198, 183);
}

a:link {
    text-decoration: none;
}

.button-submit-delete:hover, .button-delete:hover {
    background-color: #ff857e;
}