.calendar {
    text-align: var(--text-align);
    font-size: small;
    grid-template-areas:
            "nav nav"
            "calendar calendar";
    height: fit-content;
}

.rbc-timeslot-group {
    height: 10em;
}

.rbc-timeslot {
    height: 5em;
    width: 10em;
}

.calendar-nav {
    grid-area: nav;
}

.calendar-header {
    background-color: #222;
    height: 1em;
    color: white;
}

.calendar-title {
    font-size: 1.5em;
}

.calendar-intro {
    font-size: large;
}

.calendar-style {
    height: 100em;
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
}