.add-employee-form {
    display: var(--display-grid);
    grid-template-areas: "name" "surname" "image" "description" "submit";
    grid-gap: 2em;
    height: 60vh;
    font-size: 1em;
    padding: 2em 1em 0;
    align-items: var(--align-items);
}

.input-new-employee-p {
    width: 100%;
    height: 1em;
    outline: none;
    border: none;
}

.employee-name {
    grid-area: name;
}

.surname {
    grid-area: surname;
}

.image {
    grid-area: image;
}

.employee-description {
    grid-area: description;
}

.btn-sub {
    grid-area: submit;
    height: 3em;
    font-size: 1em;
}