.container-gymsite {
    grid-template-areas:
            "name name"
            "slider1 slider2"
            "contact about"
            "team team";
    grid-template-rows: 0fr 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    color: var(--color-black);
    font-weight: var(--font-weight);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
}

.container-gymsite, .working-hours, .p-days, .contact-info, .name-photo-container, .employee-container {
    display: var(--display-grid);
}

.gym-name {
    grid-area: name;
    align-self: var(--align-self);
}

.gym-name, .info-container, .team-info, .gym-image1, .gym-image2, .about-info {
    justify-self: var(--justify-self);
}

.info-container {
    grid-area: contact;
    width: 20rem;
    padding: 1em;
    max-width: 10em;
}

.info-container, .modal {
    box-shadow: var(--box-shadow);
}

.team-info {
    grid-area: team;
    padding-top: 2em;
}

.modal {
    background-color: #A2AAB0;
    max-width: 20em;
    line-height: 1.8;
}

.modal, .about-info {
    text-align: var(--text-align);
}

.modal h2, .title {
    margin-top: 0;
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: var(--font-weight);
}

.working-hours {
    padding-top: 1em;
}

.days {
    grid-area: days;
}

.hours {
    grid-area: hours;
}

.info-header, .title {
    border-bottom: #0d0d0d solid 0.01em;
    font-size: 1.5em;
}

.p-days, .contact-info {
    grid-template-columns: 1fr 1fr 1fr;
}

.gym-image1 {
    grid-area: slider1;
}

.gym-image2 {
    grid-area: slider2;
}

.gym-image1, .gym-image2 {
    align-self: var(--align-self);
}

.modal, .gym-image1, .gym-image2, .about-info {
    border-radius: var(--border-radius);
}

.gym-image1, .gym-image2, .about-info {
    box-shadow: var(--box-shadow);
}

.about-info {
    grid-area: about;
    width: 20rem;
    line-height: 1.8;
    padding: 1.5em 1em 1em;
    background-color: rgba(214,214,214,0.4);
}

.employee-grid {
    padding: 2em;
}

.name-photo-container {
    grid-template-areas:
            "employee1 employee2";
    grid-gap: 3em;
    justify-items: var(--justify-items);
    align-items: var(--align-items);
    padding: 2em;
}

.employee-name {
    padding: 1em;
    font-size: large;
}