.container-gymsite {
    grid-template-areas:
            "name name"
            "link link"
            "slider1 slider2"
            "gym-info about-info"
            "team team";
    grid-template-rows: 0fr 0fr 0fr 1fr 0fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    color: var(--color-black);
    font-weight: var(--font-weight);
    margin: 4em 1em 1em;
}

.container-gymsite, .working-hours, .p-days, .contact-info, .name-photo-container, .employee-container {
    display: var(--display-grid);
}

.gym-name {
    grid-area: name;
    align-self: var(--align-self);
}

.gym-link {
    grid-area: link;
    color: #101118;
    align-self: var(--align-self);
}

.gym-name, .gym-link, .info-container, .team-info, .gym-image1, .gym-image2, .about-info, .gym-info {
    justify-self: var(--justify-self);
}

.working-details {
    grid-area: working;
}

.contact-details {
    grid-area: contacted;
}

.info-container, .modal {
    box-shadow: var(--box-shadow);
}

.team-info {
    grid-area: team;
    padding-top: 2em;
}

.modal {
    background-color: #A2AAB0;
    max-width: 20em;
    line-height: 1.8;
}

.modal, .about-info, .gym-info {
    text-align: var(--text-align);
}

.modal h2, .title {
    margin-top: 0;
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: var(--font-weight);
}

.working-hours {
    padding-top: 1em;
}

.days {
    grid-area: days;
}

.hours {
    grid-area: hours;
}

.info-header, .title {
    border-bottom: #0d0d0d solid 0.01em;
    font-size: 1.5em;
}

.p-days, .contact-info {
    grid-template-columns: 1fr 1fr 1fr;
}

.gym-image1 {
    grid-area: slider1;
}

.gym-image2 {
    grid-area: slider2;
}

.gym-image1, .gym-image2 {
    align-self: var(--align-self);
}

.modal, .gym-image1, .gym-image2, .about-info, .gym-info {
    border-radius: var(--border-radius);
}

.gym-image1, .gym-image2, .about-info, .gym-info {
    box-shadow: var(--box-shadow);
}

.about-info, .gym-info {
    grid-area: about;
    width: 20rem;
    line-height: 1.8;
    padding: 1.5em 1em 1em;
    background-color: rgba(214, 214, 214, 0.4);
}

.employee-grid {
    padding: 2em;
}

.name-photo-container {
    grid-template-areas:
            "employee1 employee2";
    grid-gap: 3em;
    justify-items: var(--justify-items);
    align-items: var(--align-items);
    padding: 2em;
}

.employee-name {
    padding: 1em;
    font-size: large;
}

.about-info {
    grid-area: about-info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
    "about-name"
    "about-details";
}

.about-name {
    grid-area: about-name;
}

.about-details {
    grid-area: about-details;
    margin-bottom: 1em;
}

.gym-info {
    grid-area: gym-info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    grid-template-areas:
    "working-name"
    "working-details"
    "contact-name"
    "contact-details"
    "url-link";
    width: 20rem;
    line-height: 1.8;
    background-color: rgba(177, 177, 177, 0.6);
}

.working-name {
    grid-area: working-name;
}

.working-details {
    grid-area: working-details;
    margin-bottom: 1em;
}

.url-link {
    grid-area: url-link;
}

.contact-name {
    grid-area: contact-name;
}

.contact-details {
    grid-area: contact-details;
    margin-bottom: 1em;
}

.column-name {
    font-size: 1.5em;
    text-decoration: underline;
}