.container-gymsite {
    font-family: "HelveticaNeue-Light", sans-serif;
    display: grid;
    grid-template-areas:
            "name name"
            "slider1 slider2"
            "contact about"
            "team team";
    grid-template-rows: 0fr 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    color: rgba(2, 2, 2, 0.8);
    font-weight: lighter;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
}

.gym-name {
    grid-area: name;
    justify-self: center;
    align-self: center;
}

.info-container {
    grid-area: contact;
    justify-self: center;
    width: 20rem;
    padding: 1em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.25);
    max-width: 10em;
}

.team-info {
    grid-area: team;
    justify-self: center;
    padding-top: 2em;
}

.modal {
    background-color: #A2AAB0;
    text-align: center;
    box-shadow: 1em 1em 1em 0.5em rgba(0,0,0,0.1);
    max-width: 20em;
    line-height: 1.8;
    border-radius: 0.5em;
}

.modal h2, .title {
    margin-top: 0;
    line-height: 25px;
    font-size: 22px;
    border-bottom: 1px solid #323232;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
}

.working-hours {
    display: grid;
    padding-top: 1em;
}

.days {
    grid-area: days;
}

.hours {
    grid-area: hours;
}

.info-header, .title {
    border-bottom: #0d0d0d solid 0.01em;
    font-size: 1.5em;
}

.p-days, .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gym-image1 {
    grid-area: slider1;
    justify-self: center;
    align-self: center;
}

.gym-image2 {
    grid-area: slider2;
    justify-self: center;
    align-self: center;
}

.gym-image1, .gym-image2 {
    border-radius: 0.5em;
    box-shadow: 1em 1em 1em 0.5em rgba(0,0,0,0.1);
}

.about-info {
    grid-area: about;
    justify-self: center;
    box-shadow: 1em 1em 1em 0.5em rgba(0, 0, 0, 0.25);
    width: 20rem;
    text-align: center;
    line-height: 1.8;
    border-radius: 0.5em;
    padding: 1.5em 1em 1em;
    background-color: rgba(214,214,214,0.4);
}

.employee-container {
    display: grid;
}

.employee-grid {
    padding: 2em;
}

.name-photo-container {
    display: grid;
    grid-template-areas:
            "employee1 employee2";
    grid-gap: 3em;
    justify-items: center;
    align-items: center;
    padding: 2em;
}

.employee-name {
    padding: 1em;
    font-size: large;
}