*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.grid {
    display: var(--display-grid);
    width: fit-content;
    height: fit-content;
    grid-gap: 2em;
    grid-template-columns: 1fr;
}

@media (max-width: 60em) {
    .grid {
        grid-gap: 3rem;
    }
}

.grid__item {
    background-color: rgba(239, 239, 239, 0.6);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: 0.2s;
}

.grid__item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.grid, .card__content {
    align-items: var(--align-items);
}

.card__content {
    padding: 1em 1em;
    justify-items: var(--justify-items);
    justify-content: var(--justify-content);
    align-content: var(--align-content);
}

.card__header {
    font-size: 1em;
    font-weight: 800;
    color: var(--color-black);
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
}

.card__btn, .grid__item {
    border-radius: var(--border-radius);
}


.card__header, .card__btn {
    text-align: var(--text-align);
}

.card__header, .card__btn, .gym-link {
    text-decoration: var(--text-deco);
}

.card__btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 1em;
    border: none;
    transition: 0.2s;
}

.card__btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.card__btn, .card__btn:hover span, .card__btn:active span {
    outline: none;
}

.card__btn:hover span, .card__btn:active span {
    margin-left: 1.5rem;
}