*, *:before, *:after {
    box-sizing: border-box;
}

.header-container {
    justify-content: stretch;
    width: 100%;
    grid-template-areas:
            "logo buttons null";
    grid-template-columns: 2fr 0.5fr 0.5fr;
    font-size: 0.8em;
    grid-gap: 1em;
    padding: 1em;
}

.header-container, .btn {
    font-weight: var(--font-weight);
}

.buttons-user {
    grid-area: buttons;
    grid-template-areas: "button1 button2";
    grid-template-columns: 1fr 1fr;
}

div[class*=box] {
    height: 33.33%;
    width: 100%;
}

.sign-in {
    grid-area: button1;
}

.sign-up {
    grid-area: button2;
}

.btn {
    line-height: 1.7em;
    height: 3em;
    text-align: var(--text-align);
    width: 10em;
    color: var(--color-black);
}

.btn-one {
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 0.1em;
    border-bottom-width: 0.1em;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0,0,0,0.5);
    border-bottom-color: rgba(0,0,0,0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 0.1em;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.btn-one:hover, .btn-one:hover {
    letter-spacing: 0.1em;
}

.search__input__container {
    justify-content: var(--justify-content);
}

.dropdown, .search__input__container {
    display: flex;
}

.search__input__container, .search-grids, .header-container {
    align-items: var(--align-items);
}

.search__input {
    width: 75%;
    padding: 1em 1em;
    margin: 1em;
    background-image:
            url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: 98% center;
    font-size: 1em;
    line-height: 1.2em;
    color: #575756;
    border-radius: 2em;
    border: 1px solid #868686;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    letter-spacing: 0.1em;
}

.search__input:hover,
.search__input:focus {
    outline: 0;
    border: 1px solid #A0A0A0;
    background-color: whitesmoke;
    background-position: 98% center;
}

.search-grids, .user-nav, .dropdown-content, .buttons-user, .header-container {
    display: var(--display-grid);
}

.search-grids {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: 2em;
    justify-items: var(--justify-items);
    width: 100%;
}

.user-nav {
    grid-template-columns: 1fr;
    grid-template-areas:
            "profile" "employees" "slots" "logout";
    grid-gap: 1em;
    margin: 1em;
    grid-area: buttons;
}

.profile {
    grid-area: profile;
}

.employees {
    grid-area: employees;
}

.slots {
    grid-area: slots;
}

.logout {
    grid-area: logout;
}

.app-logo {
    max-width: 100%;
}

.logo {
    max-width: 12em;
}

.sign-in, .sign-up {
    padding: 1em;
}

.profile, .slots, .logout, .sign-in, .sign-up, .dropdown, .user-nav {
    justify-self: end;
}

.dropbtn {
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown {
    right: 2em;
    grid-area: null;
    position: relative;
    justify-self: center;
}

.dropdown-content {
    position: absolute;
    left: -12em;
    top: 4em;
    box-shadow: var(--box-shadow);
    z-index: 1;
    background-color: rgba(249,249,249,0.95);
    border-radius: var(--border-radius);
}

.dropdown-content .user-nav {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content .user-nav:hover, .user-nav, .dropbtn, .search__input {
    background-color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.go-back-icon {
    grid-area: buttons;
    justify-self: end;
}