.container-main-menu {
    height: auto;
    font-weight: var(--font-weight);
    font-size: 0.8em;
}

.container-main-menu, .nav {
    display: var(--display-grid);
}

.nav {
    grid-template-areas:
            "home"
            "gym"
            "fitness"
            "personal-trainer";
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin-top: 3em;
}

.a-nav1 {
    grid-area: home;
}

.a-nav2 {
    grid-area: gym;
}

.a-nav3 {
    grid-area: fitness;
}

.a-nav4 {
    grid-area: personal-trainer;
}

.a-nav1, .a-nav2, .a-nav3, .a-nav4 {
    text-decoration: var(--text-deco);
    color: var(--color-black);
    line-height: 3em;
    height: 3em;
}

.a-nav1:hover, .a-nav2:hover, .a-nav3:hover, .a-nav4:hover {
    letter-spacing: 0.1em;
}

.app-logo {
    max-width: 100%;
    border-bottom: var(--border-nav);
}