.register {
    font-size: 0.5em;
}

.register-form {
    background: rgba(255, 255, 255, 0.96);
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    max-height: 100em;
}

.text {
    margin:0 0 1em 0;
    padding: 1em;
    font-size: medium;
}

.text, .register {
    font-weight: var(--font-weight);
}

.error, .text, li .checkbox {
    text-align: var(--text-align);
}

.error {
    color: red;
}

.register-input-field {
    margin: 0 0 3em 0;
    position: relative;
}

input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
}

input[type="submit"], input, li .checkbox {
    display: block;
}

input[type="submit"], .register-form {
    box-shadow: var(--box-shadow);
}

input[type="email"],
input[type="password"],
.input-type-text {
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
}

input[type="email"]:focus,
input[type="password"]:focus,
.input-type-text:focus,
input[type="email"],
input[type="password"],
.input-type-text, .formLabel, .floatLabel {
    background: rgba(255, 255, 255, 0.95);
}

input[type="email"], input[type="password"], input[type="submit"], .input-type-text, li .checkbox, .register-form {
    border-radius: var(--border-radius);
}

input[type="submit"] {
    background: #e9ad81;
    border: none;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
}

input[type="submit"], li .checkbox {
    cursor: pointer;
}

input[type="submit"]:hover {
    background: rgb(229, 198, 183);
}

.formLabel {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
}

.floatLabel {
     top: -11px;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    border-bottom: solid 0.1em #e5e5e5;
}

.tab-group:after {
     content: "";
     display: table;
     clear: both;
}

li .checkbox {
    text-decoration: var(--text-deco);
    padding: 1em;
    background: #3b7e90;
    color: white;
    float: left;
    width: 50%;
    transition: .5s ease;
    border-radius: 0.1em;
    margin-bottom: 2em;
}

li .checkbox, .formLabel, .floatLabel {
    font-size: var(--font-size);
}

li .checkbox:hover {
    filter: brightness(110%);
    box-shadow: #101118;
}

li .checkbox:hover, .active .checkbox, .google-auth-button, input[type="submit"] {
    color: var(--color-black);
}

.tab-content > div:last-child {
    display: none;
}

.user-info, input[type="submit"] {
    font-weight: var(--font-weight);
}

.icon, .user-info {
    justify-self: var(--justify-self);
    align-self: var(--align-self);
}

.icon {
    height: 25px;
    width: 25px;
    position: center;
}

.google-auth-container {
    justify-content: var(--justify-content);
    padding-top: 1.5em;
    font-size: small;
    grid-area: google;
}

.google-auth-button {
    background-color: transparent;
    text-decoration: var(--text-deco);
    margin-top: 1em;
}

.google-auth-container, .other-logins, .sign-up-container {
    display: var(--display-grid);
}

.other-logins {
    grid-template-areas: "google sign-up";
    justify-content: start;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-size: small;
}

.sign-up-container {
    grid-area: sign-up;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}