.register {
    font-family: sans-serif;
    font-size: 10px
}

.register-form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
}

.text {
    margin:0 0 2em 0;
    padding: 1em;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
}

.error {
    text-align: center;
    color: red;
}

.register-input-field {
    margin: 0 0 3em 0;
    position: relative;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
}

input[type="email"],
input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 2px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background: #fff
}

input[type="submit"] {
    background: darkgreen;
    box-shadow: 0 3px 0 0;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
}

input[type="submit"]:hover {
    background: rgba(148,175,101,1);
    text-shadow:0 1px 3px;

}

.formLabel {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
}

.floatLabel{
     top: -11px;
     background-color: rgba(255,255,255,0.8);
     font-size: 14px;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
     content: "";
     display: table;
     clear: both;
 }

li .checkbox {
    display: block;
    text-decoration: none;
    padding: 0.8em;
    background: #3b7e90;
    color: white;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

li .checkbox:hover {
     filter: brightness(110%);
     color: black;
    box-shadow: #101118;
 }

.active .checkbox {
    padding: 1em;
    background: #fb9447;
    color: black;
    box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.tab-content > div:last-child {
    display:none;
}
