.padding-grid {
    margin: 0.3em;
    padding: 0.3em;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.text-justify-in-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.grid-container {
    margin: 1em 1em 3em 1em;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 0.3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "name name name date date date"
    "description description description description description description"
    "private size . . go-to-partner resign";
}

.name {
    grid-area: name;
}

.date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "day day day"
    "time time time";
    grid-area: date;
}

.day {
    grid-area: day;
}

.time {
    grid-area: time;
}

.description {
    grid-area: description;
}

.private {
    grid-area: private;
}

.size {
    grid-area: size;
}

.go-to-partner {
    grid-area: go-to-partner;
}

.resign {
    grid-area: resign;
}

.button-on-slot {
    background-color: floralwhite;
    border-radius: 1em;
    color: #323232;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
