.padding-grid {
    margin: 0.3em;
    padding: 0.3em;
    border: 1px solid gray;
    font-size: 1em;
}

.padding-grid, .text-justify-in-grid {
    display: flex;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

.text-justify-in-grid {
    font-size: 1em;
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.grid-container-user-slots {
    margin: 0 1em 3em 1em;
    background-color: whitesmoke;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 0.3em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
            "name name name date date date"
            "description description description description description description"
            "private size . . go-to-partner resign";
}

.name {
    grid-area: name;
}

.date {
    grid-template-areas:
            "day day day"
            "time time time";
    grid-area: date;
}

.day {
    grid-area: day;
}

.time {
    grid-area: time;
}

.description {
    grid-area: description;
}

.private {
    grid-area: private;
}

.size {
    grid-area: size;
}

.go-to-partner {
    grid-area: go-to-partner;
}

.resign {
    grid-area: resign;
}

.date, .grid-container-user-details, .firstNameLabel, .lastNameLabel, .phoneLabel {
    grid-template-columns: 1fr 1fr 1fr;
}

.button-on-slot {
    background-color: floralwhite;
    border-radius: 1em;
    color: #323232;
    padding: 15px 32px;
    text-align: var(--text-align);
    text-decoration: var(--text-deco);
    display: inline-block;
    font-size: 16px;
}

.grid-container-user-details, .date, .passwordLabel, .newPasswordLabel,
.emailContainer, .phoneLabel, .firstNameLabel, .lastNameLabel, .grid-container-user-slots {
    display: var(--display-grid);
}

.grid-container-user-details {
    margin: 1em 8em 3em 8em;
    background-color: whitesmoke;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 0.3em;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            ". formLabel ."
            "firstNameLabel lastNameLabel phoneLabel"
            ". buttonHolder ."
            "emailContainer passwordLabel confirmPasswordLabel"
            ". buttonPassSubmit .";
}

.formLabel {
    grid-area: formLabel;
}

.grid-container-user-details, .grid-container-user-slots, .phoneLabel,
.emailContainer, .newPasswordLabel, .passwordLabel, .lastNameLabel, .firstNameLabel, .date {
    gap: 0 0;
}

.firstNameLabel {
    grid-template-areas:
            ". fnlabel ."
            ". fnfield .";
    grid-area: firstNameLabel;
}

.fnlabel { grid-area: fnlabel; }

.fnfield { grid-area: fnfield; }

.lastNameLabel {
    grid-template-areas:
            ". lnlabel ."
            ". lnfield .";
    grid-area: lastNameLabel;
}

.lnlabel { grid-area: lnlabel; }

.lnfield { grid-area: lnfield; }

.passwordLabel {
    grid-template-areas:
            ". passlabel ."
            ". passfield .";
    grid-area: passwordLabel;
}

.phoneLabel, .emailContainer, .newPasswordLabel, .passwordLabel, .lastNameLabel, .firstNameLabel, .date {
    grid-template-rows: 1fr 1fr;
}

.messageLabel {
    grid-area: messageLabel;
}

.newPasswordLabel {
    grid-template-areas:
            ". passlabel2 ."
            ". passfield2 .";
    grid-area: confirmPasswordLabel;
}

.passlabel { grid-area: passlabel; }

.passfield { grid-area: passfield; }

.passlabel2 { grid-area: passlabel2; }

.passfield2 { grid-area: passfield2; }

.emailContainer {
    grid-template-areas:
            ". emailLabel ."
            ". emailField .";
    grid-area: emailContainer;
}

.emailLabel {
    grid-area: emailLabel;
}

.emailField {
    grid-area: emailField;
}

.eLabel { grid-area: eLabel; }

.eField { grid-area: eField; }

.phoneLabel {
    grid-template-areas:
            ". pLabel ."
            ". pField .";
    grid-area: phoneLabel;
}

.pLabel { grid-area: pLabel; }

.pField { grid-area: pField; }

.buttonHolder {
    grid-area: buttonHolder;
}

.buttonPassSubmit {
    grid-area: buttonPassSubmit;
}