.padding-grid {
    font-size: 1em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.padding-grid, .text-justify-in-grid {
    display: grid;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: center;
    justify-items: center;
}

.text-justify-in-grid {
    font-size: 1em;
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.slots-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slots-message {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}

.grid-container-user-slots {
    background-color: rgba(255, 255, 255, 0.70);
    box-shadow: var(--box-shadow);
    margin: 1.5em auto 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.2fr 0.2fr;
    grid-template-areas:
            "name date"
            "description description"
            "private size"
            "go-to-partner resign";
    width: 60%;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight);
}

.name {
    grid-area: name;
}

.name, .date, .description, .private, .size {
    border-bottom: var(--border-nav);
    padding: 1em;
}

.date {
    display: grid;
    grid-template-areas:
            "day day day"
            "time time time";
    grid-area: date;
    border-bottom: var(--border-nav);
}

.day {
    grid-area: day;
}

.time {
    grid-area: time;
    justify-self: center;
}

.description {
    grid-area: description;
    justify-self: stretch;
}

.private {
    grid-area: private;
}

.size {
    grid-area: size;
}

.go-to-partner {
    grid-area: go-to-partner;
}

.resign {
    grid-area: resign;
}

.date .firstNameLabel, .lastNameLabel, .phoneLabel {
    grid-template-columns: 1fr 1fr 1fr;
}

.button-on-slot {
    background: #e9ad81;
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--color-black);
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    outline: none;
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    margin: 1em;
    padding: 0.5em;
}

.grid-container-user-details, .date, .passwordLabel, .newPasswordLabel,
.emailContainer, .phoneLabel, .firstNameLabel, .lastNameLabel, .grid-container-user-slots {
    display: var(--display-grid);
}

.grid-container-user-details {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 2em;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "names password";
    background-color: rgba(249,249,249,0.80);
    width: 50em;
    justify-self: center;
    align-self: center;
}

.message {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}

.no-slots-info {
    justify-items: center;
    align-items: center;
    grid-area: message;
}

.no-slots-container {
    display: grid;
    grid-template-areas: "message";
    justify-content: center;
    align-content: center;
}

.profile-container {
    margin-top: 4em;
    border-radius: var(--border-radius);
}

.password-labels {
    grid-area: password;
    display: grid;
    grid-template-areas:
            "email"
            "password"
            "password2"
            "button2";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 10em;
    padding: 2em;
}

.names-labels {
    grid-area: names;
    display: grid;
    grid-template-areas:
            "name"
            "surname"
            "phone"
            "button1";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 2em;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.password2 {
    grid-area: password2;
}

.first-name {
    grid-area: name;

}

.last-name {
    grid-area: surname;
}

.phone-number {
    grid-area: phone;
}

.input-label {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: var(--border-radius);
    margin: 1em;
    height: 2em;
    width: 10em;
    box-shadow: var(--box-shadow);
    padding: 1em;
    border-bottom: var(--border-nav) solid 1em;
}

.button-submit {
    background: #e9ad81;
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--color-black);
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    outline: none;
    padding: .8em 0;
    font-weight: var(--font-weight);
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 3em;
}

.button-on-slot:hover, .button-submit:hover {
    background: rgb(229, 198, 183);
}