.padding-grid {
    font-size: 1em;
}

.padding-grid, .text-justify-in-grid, .names-labels {
    align-content: var(--align-content);
}

.text-justify-in-grid {
    font-size: 1em;
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.slots-container {
    position: relative;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.slots-message {
    text-align: var(--text-align);
    text-decoration: underline;
    text-decoration-color: red;
}

.grid-container-user-slots {
    background-color: rgba(255, 255, 255, 0.70);
    margin: 1.5em auto 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.2fr 0.2fr;
    grid-template-areas:
            "name date"
            "description description"
            "private size"
            "go-to-partner resign";
    width: 60%;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight);
}

.name {
    grid-area: name;
}

.name, .date, .description, .private, .size {
    border-bottom: var(--border-nav);
    padding: 1em;
}

.date {
    display: grid;
    grid-template-areas:
            "day day day"
            "time time time";
    grid-area: date;
}

.day {
    grid-area: day;
}

.time {
    grid-area: time;
}

.description {
    grid-area: description;
    justify-self: stretch;
}

.private {
    grid-area: private;
}

.size {
    grid-area: size;
}

.go-to-partner {
    grid-area: go-to-partner;
}

.resign {
    grid-area: resign;
}

.date .firstNameLabel, .lastNameLabel, .phoneLabel {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-user-details, .date, .passwordLabel, .newPasswordLabel,
.emailContainer, .phoneLabel, .firstNameLabel, .lastNameLabel, .grid-container-user-slots, .password-labels,
.padding-grid, .text-justify-in-grid, .slots-container, .names-labels, .no-slots-container {
    display: var(--display-grid);
}

.grid-container-user-details {
    margin: 2em;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "names password";
    background-color: rgba(249,249,249,0.80);
    width: 50em;
}

.grid-container-user-details, .profile-container, .input-label {
    border-radius: var(--border-radius);
}

.grid-container-user-details, .message {
    align-self: var(--align-self);
}

.time, .grid-container-user-details, .message {
    justify-self: var(--justify-self);
}

.message {
    margin: auto;
}

.message, .activation-info-container {
    display: flex;
}

.activation-info-container, .no-slots-container, .padding-grid, .text-justify-in-grid, .names-labels {
    justify-content: var(--justify-content);
}

.no-slots-info {
    grid-area: message;
}

.password-labels, .no-slots-info, .padding-grid, .text-justify-in-grid, .names-labels {
    justify-items: var(--justify-items);
    align-items: var(--align-items);
}

.no-slots-container {
    grid-template-areas: "message";
    align-content: var(--align-content);
}

.profile-container {
    margin-top: 4em;
}

.password-labels {
    grid-area: password;
    grid-template-areas:
            "email"
            "password"
            "password2"
            "button2";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 10em;
}

.password-labels, .names-labels {
    padding: 2em;
}

.names-labels {
    grid-area: names;
    grid-template-areas:
            "name"
            "surname"
            "phone"
            "button1";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.password2 {
    grid-area: password2;
}

.first-name {
    grid-area: name;
}

.last-name {
    grid-area: surname;
}

.phone-number {
    grid-area: phone;
}

.input-label {
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 1em;
    height: 2em;
    width: 10em;
    padding: 1em;
    border-bottom: var(--border-nav) solid 1em;
}

.grid-container-user-slots, .input-label, .grid-container-user-details {
    box-shadow: var(--box-shadow);
}