* {
  box-sizing: border-box;
}

#root {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: "HelveticaNeue-Light", sans-serif;
}

body {
  background: url('images/gym.jpg') no-repeat center fixed;
  background-size: 100% 100%;
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: 1fr;
}

.router {
  background: rgb(186,189,194);
  background: radial-gradient(circle, rgba(242, 243, 243, 0.95) 0%, rgba(236, 239, 239, 0.95) 100%);
  width: 80%;
  height: auto;
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas:
          "nav  header  header"
          "nav  content content"
          "nav  footer  footer"
}

.main-menu {
  grid-area: nav;
  border-right: rgba(167, 165, 165, 0.5) solid 0.1em;
  padding: 1em;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}